.botao-customizado_root {
    padding: 16px;
    border: none;
    border-radius: 8px;

    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    color: aliceblue;
}

.botao-customizado_root:hover {
    opacity: 1;
}

.botao-customizado_primario {
    background-color: var(--cor-primaria-clara);
}

.botao-customizado_secundario {
    background-color: var( --cor-secundaria);
}

.botao-customizado_padrao {
    background-color: var( --cor-cinza);
}
